@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Покупка товара</h1>

            </div>
        </div>
    </div>
</section>



<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Информация</th>
                            <th scope="col"></th>
                            <th scope="col">Наличие</th>
                            <th scope="col">Цена</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @ViewBag.BasketUser)
                        {
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img height="250px" width="auto" src="@item.Image" alt="">
                                        </div>
                                        <div class="media-body1">
                                            <p>@item.Name</p>
                                        </div>

                                    </div>
                                </td>
                                <td>
                                   
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    <div class="media-body1">
                                        <h5>@item.Price.ToString("c")</h5>
                                    </div>
                                </td>
                                <td>
                                    <form method="post" asp-action="Order" asp-controller="Home">
                                        <input type="hidden" value="@User.Claims.ElementAt(0).Value" name="User" />
                                        <input type="hidden" value="@item.Id" name="Tid" />

                                        <div class="col-md-12 text-right">
                                            <button type="submit" value="submit" class="btn essence-btn">Удалить</button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <h5>Итоговая цена</h5>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <h5>@ViewBag.FullPrice.ToString("c")  </h5>
                            </td>
                            <td>
                            </td>


                        </tr>
                        <tr class="out_button_area">
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                @if (ViewBag.Try != 0)
                                {
                                    @if (Convert.ToInt32(@ViewBag.FullPrice) <= Convert.ToInt32(@ViewBag.User.Balance))
                                    {
                                        <form method="post" asp-action="AcceptOrder" asp-controller="Home">
                                            <div class="checkout_btn_inner d-flex align-items-center">
                                                <button type="submit" value="submit" class="btn essence-btn">Купить</button>
                                            </div>
                                        </form>
                                    }
                                    else
                                    {
                                        <font color="red" size="3">Недостаточно средств</font>
                                    }
                                }
                                else
                                {

                                   
                                }
                                
                            </td>
                        </tr>

                    </tbody>

                </table>

            </div>

        </div>

    </div>

</section>
@*<table class="table">
        <tr><td>ID товара</td><td>Товар </td><td>Цена</td><td></td></tr>
        @foreach (var item in @ViewBag.BasketUser)
        {
            <tr><td><a href="@item.Id">Удалить</a></td><td>@item.Name</td><td>@item.Price</td><td></td></tr>
        }
    </table>*@

